.container{
   max-width: 100vw;
   margin-left: auto;
   margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;
}

.navbar{
    width: 100%;
}

.navbar img {
    height: 60px;
    margin-right: 100px;
}

.navbar h1 {
    font-size: 40px;
    color: var( --clr-bluestrong);
    margin-right: 85px;
}


